body{
    background-color: #f0f0f0;
    text-align: center;
}

h1{
    color: #333;
}

.galeria img{
    width: 300px;
    height: 200px;
    border: 5px solid #333;
    margin: 20px 0;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes button{
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#botao1{
    background-color: #008000;
    color: #ffff00;
}

#botao2{
    background-color: #ffff00;
    color: #0000ff;
}

#botao3{
    background-color: #0000ff;
}

#botao4{
    background-color: #ff0000;
}

#botao5{
    background-color: #fff;
    color: #ff0000;
}

#botao6{
    background-color: #000;
}

.botoes button:hover{
    background-color: #666;
}

